.container{
    display: flex;
    flex-direction: column;

}

main h1{
    font-weight: 300;
    font-size: 30px;
    margin: 10px;
}

main .p1{
    margin: 10px;
    font-weight:100;
    font-size: 20px;

}
main .imgdiv{
    display: flex;
    justify-content: center;
}

main img{
    width: 350px;
    height: 650px;
    border-radius: 10px;
    margin-top: 20px;
}
main h2{

    margin-left: 20px;
    margin-top: 20px;
}

main .p2{
    margin-left: 20px;
    margin-top: 20px;
}

main .p3{
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 100;
}

main a{
    text-decoration: none;
    color: white;
   
}

main .buttonContainer{
    display: flex;
    justify-content: center;
}

main .button{

    background-color: rgb(76, 118, 190);
    height: 50px;
    width:120px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}
main .div2 :hover{
    cursor:grab
}
.container main{
    margin-bottom: 620px;
}